<div class="nav navbar navbar-light bg-secondary">
    <div class="div container-fluid">
        <h1 style="color:rgb(14, 13, 13)">Cadastro de Produtos</h1>
        <div class="div d-flex">
            <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Cadastrar Produto</button>

        </div>
    </div>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estoque</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Celular</td>
            <td>Motorola - Moto G</td>
            <td>R$ 1200,00</td>
            <td>Celulares e telefonia</td>
            <td>100 Unidades</td>
            <td>Motorola</td>
            <td>
                <button class="btn btn-info">Editar</button>
                <button class="btn btn-danger mx-3">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Produtos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]= "formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Produto</label>
              <input type="text" formControlName="produto" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Descrição</label>
              <input type="text" formControlName="descrição" class="form-control" id="exampleInputPassword1">
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Preço</label>
              <input type="text" formControlName="preço" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Categoria</label>
              <input type="text" formControlName="categoria" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Quantidade</label>
              <input type="number" formControlName="quantidade" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Fornecedor</label>
              <input type="text" formControlName="fornecedor" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>