<div class="nav navbar navbar-light bg-secondary">
    <div class="div container-fluid">
        <h1 style="color:rgb(14, 13, 13)">Cadastro de Produtos</h1>
        <div class="div d-flex">
            <button class="btn btn-success">Cadastrar Produto</button>

        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estoque Míninmo</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>